
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myDisputeLabel">Create or edit a Dispute</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.dispute.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.dispute.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_disputeType">Dispute Type</label>
            <select class="form-control" name="disputeType" ng-model="vm.dispute.disputeType" id="field_disputeType">
                <option value="CHARGEBACK">CHARGEBACK</option>
                <option value="RETRIEVAL_REQUEST" data-translate="challengeApp.DisputeType.RETRIEVAL_REQUEST">RETRIEVAL_REQUEST</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_caseNumber">Case Number</label>
            <input type="text" class="form-control" name="caseNumber" id="field_caseNumber"
                    ng-model="vm.dispute.caseNumber"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_filedDay">Filed Day</label>
                <div class="input-group">
                    <input id="field_filedDay" type="text" class="form-control" name="filedDay" uib-datepicker-popup="{{dateformat}}" ng-model="vm.dispute.filedDay" is-open="vm.datePickerOpenStatus.filedDay"
                    />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.openCalendar('filedDay')"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                </div>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                    ng-model="vm.dispute.amount"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_cardType">Card Type</label>
            <select class="form-control" name="cardType" ng-model="vm.dispute.cardType" id="field_cardType">
                <option value="VISA">VISA</option>
                <option value="MASTERCARD">MASTERCARD</option>
                <option value="DISCOVER">DISCOVER</option>
                <option value="AMEX">AMEX</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_reasonCode">Reason Code</label>
            <input type="text" class="form-control" name="reasonCode" id="field_reasonCode"
                    ng-model="vm.dispute.reasonCode"
                     />
        </div>
        <div class="form-group">
            <label for="field_transaction">Transaction</label>
            <select class="form-control" id="field_transaction" name="transaction" ng-model="vm.dispute.transaction" ng-options="transaction as transaction.id for transaction in vm.transactions | orderBy:'id' track by transaction.id">
                <option value=""></option>
            </select>
            <button class="btn btn-primary" ui-sref="transactionchallengenew" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Register Transaction
                    </span>
            </button>
        </div>
        <div class="form-group">
            <label for="field_shipping">Shipping</label>
            <select class="form-control" id="field_shipping" name="shipping" ng-model="vm.dispute.shipping" ng-options="shipping as shipping.id for shipping in vm.shippings | orderBy:'id' track by shipping.id">
                <option value=""></option>
            </select>
            <button class="btn btn-primary" ui-sref="shippingchallenge-new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Register Shipping
                    </span>
            </button>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
