<div>
    <h2>Shippings</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="shippingchallenge.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span >
                        Create new Shipping
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span>ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="customerId"><span>Customer Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="ipAddress"><span>Ip Address</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productId"><span>Product Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span>Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderId"><span>Order Id</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="productInCampaign"><span>Product In Campaign</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderAmount"><span>Order Amount</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderDate"><span>Order Date</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="orderStatus"><span>Order Status</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="shippingService"><span>Shipping Service</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="shipping in vm.shippings track by shipping.id">
                    <td><a ui-sref="shippingchallenge-detail({id:shipping.id})">{{shipping.id}}</a></td>
                    <td>{{shipping.customerId}}</td>
                    <td>{{shipping.ipAddress}}</td>
                    <td>{{shipping.productId}}</td>
                    <td>{{shipping.email}}</td>
                    <td>{{shipping.orderId}}</td>
                    <td>{{shipping.productInCampaign}}</td>
                    <td>{{shipping.orderAmount}}</td>
                        <td>{{shipping.orderDate | date:'mediumDate'}}</td>
                    <td>{{shipping.orderStatus}}</td>
                    <td>{{shipping.shippingService}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="shippingchallenge-detail({id:shipping.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shippingchallenge.edit({id:shipping.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="shippingchallenge.delete({id:shipping.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
